<div class="container">
  <button class="btn mt-3" (click)="goBack()">< Back</button>
  <h3>User Detail</h3>
  <div class="row">
    <div class="col-3">{{label.email.caption}}</div>
    <div class="col-3">: {{user?.emailAddress}}</div>
  </div>
  <div class="row">
    <div class="col-3">{{label.subscribe.caption}}</div>
    <div class="col-3">: {{user?.subscribe}}</div>
  </div>
  <div class="row">
    <div class="col-3">{{label.email.caption}}</div>
    <div class="col-3">: {{user?.password}}</div>
  </div>
</div>
