<div class="container">
  <div class="row mt-3">
    <div class="col-6">
      <h3>Registration</h3>
      <div class="text-danger" *ngIf="submitted && regForm.invalid && (regForm.dirty || regForm.touched)">
        <div *ngIf="emailAddress.errors">
          <div *ngIf="emailAddress.errors.required">
            {{label.email.error.required}}
          </div>
          <div *ngIf="emailAddress.errors.email">
            {{label.email.error.invalid}}
          </div>
        </div>
        <div *ngIf="password.errors">
          <div *ngIf="password.errors.required">
            {{label.password.error.required}}
          </div>
          <div *ngIf="password.errors.pattern">
            {{label.password.error.pattern}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <form [formGroup]="regForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="emailAddress">Email address</label>
          <input type="email" formControlName="emailAddress" class="form-control" id="emailAddress" placeholder="Enter email">
          <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)"
               class="text-danger">
            <div *ngIf="emailAddress.errors.required">
              {{label.email.error.required}}
            </div>
            <div *ngIf="emailAddress.errors.email">
              {{label.email.error.invalid}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="subscribe">{{label.email.caption}}</label>
          <select class="form-control" formControlName="subscribe" id="subscribe">
            <option *ngFor="let sub of subscriptions" [value]="sub">{{sub}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">{{label.password.caption}}</label>
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" maxlength="8">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="text-danger">
            <div *ngIf="password.errors.required">
              {{label.password.error.required}}
            </div>
            <div *ngIf="password.errors.pattern">
              {{label.password.error.pattern}}
            </div>
          </div>
        </div>
        <div *ngIf="areYouSure">{{label.areYouSure.caption}}<button type="button" class="btn ml-1 mr-1" (click)="onYes()">{{label.yes.caption}}</button><button type="button" class="btn" (click)="onNo()">{{label.no.caption}}</button></div>
        <button type="submit" class="btn btn-primary mr-3" [disabled]="areYouSure">{{label.submit.caption}}</button>
        <button type="button" (click)="onReset()" class="btn" [disabled]="areYouSure">{{label.reset.caption}}</button>
      </form>
    </div>
  </div>
</div>
